.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-right: 0.5em;

  .logo-container {
    height: 100%;
    width: 135px;
  }

  .logo-container img {
    width: 100%;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      border: 2px solid #fff;
      padding: 10px 15px;
      cursor: pointer;
    }

    .option:hover {
      border-bottom: 2px solid #6f6c70;
    }
  }
}
